@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.contenedor-footer, .botones-comics, .contenedor-botones-busqueda, .boton-buscar, .boton-comic, .contenedor-seccion-principal, .contenedor-imagen-principal, .contenedor-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-imagen-principal::after, .contenedor-header {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-color: #fafafa;
  font-family: "Roboto";
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.contenedor-header {
  background-color: #0c050a;
}
.contenedor-header .contenedor-logo {
  width: 240px;
}
.contenedor-header .contenedor-logo .logo {
  background-color: #ed1d23;
  color: #fafafa;
  font-family: "Bangers", cursive;
  font-size: 45px;
  line-height: 50px;
  margin: 0;
  padding: 0 10px;
}

.contenedor-imagen-principal {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-image: url(img/27401ae6-a2dd-4326-9c6d-756873245fdd.jpg);
  flex: 1;
  position: relative;
}

.contenedor-imagen-principal::after {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
}

.contenedor-seccion-principal .seccion-principal {
  width: 100%;
  height: 100%;
  margin: 30px;
}

.formulario {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input, select {
  height: 30px;
  background-color: white;
  font-size: 15px;
  border: none;
  margin-right: 10px;
}

#buscar-productos {
  cursor: text;
  border: none;
  padding: 13px;
  border-bottom: 2px solid black;
  font-family: "Roboto";
  width: 600px;
  font-size: 20px;
  background-color: #fafafa;
}

.contenedor-busqueda {
  display: flex;
}
.contenedor-busqueda .fas.fa-search {
  position: relative;
  right: 25px;
  font-size: 20px;
  cursor: pointer;
}

.buscar, .resultados {
  font-size: 25px;
  margin: 0;
  padding-top: 40px;
}

.resultados {
  padding-top: 80px;
}

#comics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#comics .comic-principal:hover {
  transform: translateY(-10px);
  color: #e920ac;
  transform: translateY(-10px);
}
#comics .comic-principal {
  cursor: pointer;
}
#comics article {
  width: 200px;
  height: 300px;
  margin: 50px;
}
#comics article .portada-comic {
  width: 100%;
}
#comics article img {
  width: 100%;
  height: auto;
}
#comics .info-portada {
  margin: 0;
  margin-left: 100px;
  width: 100%;
  font-size: 30px;
  width: 800px;
}

.character-article {
  width: 500px;
}
.character-article .tarjeta-personaje {
  width: 100%;
  cursor: pointer;
}
.character-article .tarjeta-personaje:hover {
  transform: translateY(-10px);
  color: #e920ac;
}

.section-characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.section-characters .character-article {
  width: 250px;
  height: 400px;
  margin: 20px;
  background-color: #0c050a;
  color: white;
  text-align: center;
}
.section-characters .character-article .imagen-comic-personaje {
  width: 100%;
  height: 250px;
}
.section-characters .character-article .comic-thumbnail {
  width: 100%;
  height: 100%;
}
.section-characters .character-article h3 {
  text-transform: uppercase;
}

.tarjeta-comic {
  width: 200px;
  height: 300px;
  margin: 4%;
}

.comic-thumbnail {
  width: 100%;
  height: auto;
}

.contenedor-boton-buscar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boton-buscar, .boton-comic {
  font-size: 15px;
  padding: 20px;
  height: 30px;
  background-color: #0c050a;
  border: none;
  color: #fafafa;
}

.botones-busqueda, .cantidad-resultados {
  color: grey;
  font-weight: bold;
  margin: 20px;
}

.cantidad-resultados {
  margin-top: 20px;
  margin-left: 0;
}

.boton-comic:disabled {
  color: grey;
}

.boton-comic {
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 25px;
  margin: 5px;
}

.footer-comic {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c050a;
  width: 100%;
  color: #fafafa;
  font-family: "Bangers";
}

.contenedor-footer {
  flex-direction: column;
  margin: 20px;
}

.última-frase-footer {
  font-size: 20px;
  text-align: center;
  margin: 0;
}

.botones-comics {
  margin-top: 10%;
}

.info-comic {
  display: flex;
  font-size: 5px;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
